/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  /* Encabezado */
  header {
    background-color: #003580;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header div {
    display: inline-flex;
  }

  header div img{
    width: 15%;
    text-align: left;
    margin-right: 20px;
  }

  header div h1 {
    font-size: 1.5rem;
    text-align: left;
  }
  
  header nav ul {
    display: flex;
    list-style: none;
  }
  
  header nav ul li {
    margin-left: 1rem;
  }
  
  header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  /* Alimentos */
  .alimentos {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 1rem;
  }
  
  .alimentos h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
  }
  
  #lista-alimentos {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
  }
  
  .producto {
    width: 250px;
    background-color: #f4f4f4;
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  }
  
  .producto:hover {
    transform: scale(1.05);
  }
  
  .producto img {
    width: 100%;
    border-radius: 8px;
    height: 200px;
    object-fit: cover;
  }
  
  .info-producto {
    margin-top: 1rem;
  }
  
  .info-producto h3 {
    font-size: 1.5rem;
  }
  
  .info-producto p {
    font-size: 1rem;
    margin: 0.5rem 0;
    color: #666;
  }
  
  .info-producto strong {
    color: #333;
  }
  
  /* Pie de página */
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
  }
  
  footer p {
    margin: 0.5rem 0;
  }
  
  footer a {
    color: #fff;
    text-decoration: none;
  }
  