/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  /* Encabezado */
  header {
    background-color: #003580;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header div {
    display: inline-flex;
  }

  header div img{
    width: 15%;
    text-align: left;
    margin-right: 20px;
  }

  header div h1 {
    font-size: 1.5rem;
    text-align: left;
  }
  header nav ul {
    display: flex;
    list-style: none;
  }
  
  header nav ul li {
    margin-left: 1rem;
  }
  
  header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  /* Promociones */
  .promociones {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 1rem;
  }
  
  .promociones h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .lista-promociones {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
  }
  
  .promocion {
    width: 300px;
    background-color: #f4f4f4;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  }
  
  .promocion:hover {
    transform: scale(1.05);
  }
  
  .promocion img {
    width: 100%;
    height: auto;
  }
  
  .info-promocion {
    padding: 1rem;
    text-align: center;
  }
  
  .info-promocion h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .info-promocion p {
    font-size: 1rem;
    margin: 0.5rem 0 1rem;
    color: #666;
  }
  
  .info-promocion button {
    background-color: #003580;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Pie de página */
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
  }
  
  footer p {
    margin: 0.5rem 0;
  }
  
  footer a {
    color: #fff;
    text-decoration: none;
  }
  