/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  /* Encabezado */
  header {
    background-color: #003580;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header div {
    display: inline-flex;
  }

  header div img{
    width: 15%;
    text-align: left;
    margin-right: 20px;
  }

  header div h1 {
    font-size: 1.5rem;
    text-align: left;
  }
  
  header nav ul {
    display: flex;
    list-style: none;
  }
  
  header nav ul li {
    margin-left: 1rem;
  }
  
  header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  /* Perfil de Usuario */
  .perfil-usuario {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
  }
  
  .informacion-personal, .reservas {
    background-color: #f4f4f4;
    padding: 1.5rem;
    border-radius: 8px;
    margin-bottom: 1.5rem;
  }
  
  .informacion-personal h2, .reservas h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  
  .detalle-usuario p, .reserva p {
    font-size: 1rem;
    margin: 0.5rem 0;
  }
  
  button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #003580;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Estilos de Reserva */
  .reserva {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 1rem;
  }
  
  /* Pie de página */
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
  }
  
  footer p {
    margin: 0.5rem 0;
  }
  
  footer a {
    color: #fff;
    text-decoration: none;
  }
  